# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
venv/
.venv/

# VSCode
.vscode/

# JetBrains
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Backup files
*.bak
*.old
*.tmp

# Home Assistant
.storage/
*.db
home-assistant_v2.db
